<nav class="navbar border-bottom navbar-expand-lg py-3 navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{data.companyLogoUrl}}" alt="" width="35" height="35" style="border-radius:50%">
    </a>
    <a class="navbar-brand" href="#">{{data.companyName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        {{!-- using hbs to loop the code --}}

        {{#each data.links}}{{!-- starting the loop --}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{this.url}}">{{this.label}}</a>
        </li>

        {{/each}}  {{!-- closing the loop --}}

      </ul>
    </div>
  </div>
</nav>